@import './layout.scss';
@import './colors.scss';
@import './product.scss';
@import './footer.scss';

body {
  background-color: $backgroundColor;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}