@import './layout.scss';
@import './colors.scss';
@import './product.scss';
@import './logo.scss';

body {
  background-color: $backgroundColor;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}