.banner-wrapper {
  &__footer {
    text-align: center;
    #link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 5px 0;
      color: #333;
      #logo {
        width: 32px;
        height: 32px;
      }
      #text {
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}