.banner {
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-wrapper {
    width: 300px;
    height: 250px;
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px 0;
    flex-direction: column;
    padding: 5px 5px 0;

    &__products {
      flex: 1 0;
      display: grid;
      grid-template-areas: "product-1 product-2" "product-3 product-4";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1px;
      position: relative;
    }
  }
}